*{
    padding: 0;
    margin: 0;
}
section {
	padding-left: 10px;
}
section#header {
	width: 95%;
	background-color: #2CAADE;
}
section#header h1,p {
	text-align: center;
	color: white;
}
section#navigator {
	background-color: #39ac73;
    width: 20%;
    float: left;
    color: white;
}
section#content {
	margin-left: 20%;
    width: 75%;
}
div#instructbutton {
	float: left;
	width: 10%;
	margin-left: 10%;
	margin-top: 2%;
}
button#AckButton {
    left: 202px;
    top: 198px;
}
div#instructtext {
	float: left;
	width: 70%;
	margin-left: 6%;
}
div#instructtext textarea{
	border: 4;
	rows: "6";
	width: 100%;
}
p#BSN {
	display: none;
}
body {
    color: #656263;
    margin-left: 1em;
    font-family: metropolis, Arial;
    font-size: large; 
}
table {
    width: 80%;
    margin-left: 10%;
}
table.sortable thead {
    background-color:#054576;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
th {
    background-color: #054576;
    color: white;
}
tr td {
	text-align: center;
}
a:visited {color: black;}
a:link {color: black;}
button {
    border: none;
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}